<footer class="footer">
  <div class="footer__container">
    <section>
      <h2 class="footer__title">Sobre</h2>
      <p class="footer__about-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita hic nobis debitis nam veniam ad dolorem doloribus dolorum provident minus eligendi nisi maiores aliquid nemo quisquam officia, fugit reiciendis necessitatibus.
      </p>
    </section>
    <address>
      <h2 class="footer__title">Contato</h2>
      <ul>
        <li>
          <img src="../../assets/envelope-solid.svg" alt="Ícone e-mail" width="512" height="512">
          email@email.com
        </li>

        <li>
          <img src="../../assets/phone-solid.svg" alt="Ícone telefone" width="512" height="512">
          (99)3333-3333
        </li>

        <li>
          <img src="../../assets/whatsapp.svg" alt="Ícone WhatsApp" width="448" height="512">
          (99)99999-9999
        </li>
      </ul>
    </address>
  </div>

  <section class="footer__copyright">&copy; Todos os direitos reservados.</section>
</footer>
