.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.container img {
  width: 150px;
  height: auto;
}

.container h2 {
  font-size: 44px;
}